footer{
  width: 100%;
  selection{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-around;
    ul{
      list-style-type: none;
      padding: 10px;
    }
    li{
      padding: 10px;
      color: #303030;
      cursor: pointer;
    }
    h4{
        font-size: 24px;
    }
    input{
      padding: 10px;
      width: 300px;
      margin-top: 50px;
    }
  }
}