main{
  color: wheat;
  background-color: #303030;
  display: flex;
  align-content: center;
  justify-content: space-around;
    aside{
      margin-top: 50px;
      width: 900px;
      text-align: center;
      .name{
        display: flex;
        .product{
          font-size: 70px;
          font-weight: 900;
          padding-left: 100px;
          text-decoration: none;
          color: wheat;
          &:hover {
            color: #ffc506;
            transform: scale(1.1);
          }

          &:active {
            color: #ffedd3;
            transform: scale(0.9);
          }
        }
      }
      h3{
        font-size: 30px;
        padding: 50px;
      }
      .btn {
        font-size: 17px;
        background: transparent;
        border: none;
        padding: 1em 1.5em;
        color: #ffedd3;
        text-transform: uppercase;
        position: relative;
        transition: .5s ease;
        cursor: pointer;
      }

      .btn::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 0;
        background-color: #ffc506;
        transition: .5s ease;
      }

      .btn:hover {
        color: #ffffff;
        transition-delay: .5s;
      }

      .btn:hover::before {
        width: 100%;
      }

      .btn::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 0;
        width: 100%;
        background-color: #ffc506;
        transition: .4s ease;
        z-index: -1;
      }

      .btn:hover::after {
        height: 100%;
        transition-delay: 0.4s;
        color: aliceblue;
      }
    }
}
