header{
  background-color: black;
  width: 100%;
  margin: 0;
    .title{
      text-align: center;
      color: wheat;
      margin-top: 100px;
      h1{
          font-size: 50px;
          margin: 0;
      }
      p{
          font-size: 27px;
      }
    }
  img{
    width: 900px;
    margin-left: 28%;
    margin-top: 200px;
  }
}